*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    padding: 10px;
}   

.card{
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}

.thumbnail{
    position: relative;
    width: 200px;
    height: 120px;
    margin-right: 20px;
}

.duration{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    top: 70.8%;
    left: 10%;
    width: 50px;
    border-radius: 3px;
}

.card-body{
    padding: 10px;
    font-size: 18px;
}

.views, .cName, .vidPost{
    font-size: 14px;
}

.card, .card-body, .title, .duration, .views, .cName, .vidPost{
    background-color: black;
    color: white;
}
